.authlayout_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #dfefff; */
}
.authlayout_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
.authlayout_left {
  max-width: 50%;
}
.authlayout_left img {
  margin-bottom: 30px;
  width: 150px;
}
.authlayout_left h1 {
  color: #4e4b66;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  font-family: var(--font);
  margin: 20px 0px;
}
.authlayout_left p {
  color: #6e7191;
  font-size: 19px;
  line-height: 23px;
  margin-top: 30px;
  font-family: var(--font);
}
.authlayout_left ul {
  margin-top: 40px;
}
.authlayout_left ul li {
  color: #4e4b66;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0px;
  font-weight: 200;
  font-family: var(--font);
}
.authlayout_left ul li b {
  display: block;
  font-size: 20px;
}
.authlayout_left ul li span {
  color: var(--brandcolor);
}

@media screen and (max-width: 1275px) {
  .authlayout_inner {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .authlayout_inner {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .authlayout_left {
    max-width: 95%;
  }
  .authlayout_left h1 {
    text-align: center;
  }
  .authlayout_left p {
    text-align: center;
    margin-bottom: 30px;
  }
  .authlayout_left ul {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .authlayout_left p {
    text-align: left;
    font-size: 17px;
    line-height: 23px;
    margin-top: 20px;
  }
  .authlayout_left h1 {
    text-align: left;
    font-size: 28px !important;
    /* max-width: 200px; */
    margin: 10px 0px;
  }
  .authlayout_left_img {
    margin-top: 20px;
  }
}
